{% extends "layout.twig" %}

{% block content %}
    <h1>Bienvenue</h1>
    <p>Bientôt vous pourrez voir une liste miroitante de mille feu d'utilisateur avec leur description. Mais en attendant, n'hésitez pas à aller jeter un coup d'oeil sur le code amoureusement tapé pour arriver à ce résulat</p>
{% endblock %}